@media (max-width:480px){


    h1{
        font-size: 45px !important;
    }

    h2, h3{
        font-size: 20px !important;
    }

    .header{
        height: 58px !important;
    }
}

@media (min-width:481px) and (max-width:576px){


    h1{
        font-size: 55px !important;
    }

    h2, h3{
        font-size: 25px !important;
    }

    .header{
        height: 70px !important;
    }
}

@media (min-width:576px){

    h1{
        font-size: 70px !important;
    }

    h2, h3{
        font-size: 35px !important;
    }

    .header{
        height: 90px !important;
    }
}

@media (min-width:768px){
    h1{
        font-size: 80px !important;
    }

    h2, h3{
        font-size: 35px !important;
    }

    .header{
        height: 103px !important;
    }

}

@media (min-width:992px){


    h1{
        font-size: 90px !important;
    }

    h2{
        font-size: 45px !important;
    }

    h3{
        font-size: 35px !important;
    }

    .header{
        height: 115px !important;
    }
}

@media (min-width:1200px){


    h1{
        font-size: 100px !important;
    }

    h2{
        font-size: 55px !important;
    }

    h3{
        font-size: 40px !important;
    }

    .header{
        height: 129px !important;
    }
}

@media (min-width:1400px){

    h1{
        font-size: 100px !important;
    }

    h2{
        font-size: 55px !important;
    }

    h3{
        font-size: 45px !important;
    }

    .header{
        height: 129px !important;
    }
}


body{
    background-color: #FFE1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

.bg-img{
    background-image: url("../resources/maarksinrompefjellLilla.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}


.header{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border-bottom: #433878 solid 2px;
}

h1{
    color: #433878;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    color: #433878;
    font-weight: 500 !important;
    margin: 0;
    padding: 0;
}

h2, h1{
    font-family: "Playwrite GB S", cursive;
    font-weight: 500;
}

h3 {
    font-size: 3vw;
    color: #433878;
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px !important;
}

.dark-blue {
    color: darkblue;
}

.red {
    color: red;
}

.boring-green {
    color: #6B8E23; /* OliveDrab color for boring green */
}

.green {
    color: rgb(35, 181, 35);
}

.purple {
    color: purple;
}

.grey {
    color: grey;
}

.brown {
    color: brown;
}

.dark-purple {
    color: #4B0082; /* Indigo or a darker shade of purple */
}

.light-brown {
    color: #D2B48C; /* Tan */
}

.orange {
    color: orange;
}

.teal {
    color: #085c5c; /* Standard teal hex code */
}

.pink {
    color: #ed75d3;
}

span {
    width: 40%;
    display: flex;
    justify-content: end;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-container > button {
    border: none;
    height: 3vw;
    width: 10vw;
    background-color: #7E60BF;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 5vh;
    transition: all 0.1s;
}

.welcome-container > button:hover {
    background-color: #433878;
    color: white;
}

.exitDagplanlegger {
    border: none;
    height: 3vw;
    width: 3vw;
    font-weight: bold;
    font-size: 25px;
    border-radius: 1rem;
    transition: all 0.1s;
    position: fixed;
    top: 1%;
    left: 1%;
    padding: 10px;
}

.exitDagplanlegger:hover {
    background-color: #eed2ee;
}
